DEBUG=false
LOG_DEBUG_DISCORD=false
LOG_SQL=false

DB_PATH=storage/data/database.db
CONFIG_PATH=storage/data/config.yml
LANG_DIR=storage/langs/
DEFAULT_LANG=fa

TOKEN=your_token_here
PREFIX=your_debug_prefix_here

DEBUG_TOKEN=your_debug_token_here
DEBUG_PREFIX=your_debug_prefix_here

MYSQL_USER=mysql_user
MYSQL_PASSWORD=mysql_pass
# You can ignore MYSQL_ROOT_PASSWORD if not using docker
MYSQL_ROOT_PASSWORD=my_sql_root_pass
MYSQL_DATABASE=mysql_database
MYSQL_HOST=sqldb
MYSQL_PORT=mysql_port

HYPIXE_KEY=needed_for_profile_command