DEBUG = false
LOG_DEBUG_DISCORD = false
LOG_SQL = false

DB_PATH = storage/data/database.db
CONFIG_PATH = storage/data/config.yml

TOKEN = your_token_here
PREFIX = your_debug_prefix_here

DEBUG_TOKEN = your_debug_token_here
DEBUG_PREFIX = your_debug_prefix_here