{
	"token": "",
    "clientId": "",
	"ownerId": "",
	"bannerUrl": "https://mctracker.ir/img/banners/banner.png",
	"logoUrl": "https://mctracker.ir/img/logo.png",
	"trackerUrl": "https://mctracker.ir",
	"trackerGuildId": "",

	"trackerApiKey": "",

	"channels": {
		"membersCount": "",
		"votesCount": "",
		"serversCount": "",
		"recordsCount": "",
		"emptyCount": "",
		"playersCount": "",
		"aiChat": ""
	},

	"statsChannels": [
	],

	"topVotesChannels": [
	]
}
